body {
    background-color: white;
}

div {
    background-color: white;
}

h1 {
    margin-top: 20%;
    color: white;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#produtos {
    display: flex;
    justify-content: center;
    align-items: center;

}

#produtos .produto img {
    width: 250px;
    height: auto;
}

#youtube {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#youtube .video {
    margin-top: 15%;
    margin-bottom: 15%;
    width: 600px;
    height: auto;
    background-color: black;
}

#youtube .title h1 {
    display: flex;
    color: black;
    justify-content: center;
    justify-items: center;
    background-color: white;
    font-size: 40px;
}

#atletas {
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
}

#atletas div {
    background-color: black;
}

.newslatter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}